.siteLogo {
  width: 50%;
  padding: 3% 5% 2% 5%;
  margin: 0; }
  @media only screen and (max-width: 450px) {
    .siteLogo {
      padding-bottom: 4%;
      margin-bottom: 1em;
      max-height: 2.6em; } }

.starLogo {
  fill: #C3DB67; }
  .starLogo:hover, .starLogo:active {
    fill: #D0627E; }
