.siteHeader {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 3em 0 var(--color-brand--2); }
  @media only screen and (max-width: 450px) {
    .siteHeader {
      padding-bottom: 0.3em;
      margin-bottom: 1.5em; } }

/* for homepage only */
.siteHeaderOnHome {
    padding-top: 12%; }
