
.navItems {
  margin: 1.3em auto 2.4em auto;
  width: 65%;
  display: block; }
  @media only screen and (max-width: 1102px) {
    .navItems {
      font-size: 80%; } }
  @media only screen and (max-width: 885px) {
    .navItems {
      font-size: 60%; } }
  @media only screen and (max-width: 650px) {
    .navItems {
      font-size: 90%; } }
  @media only screen and (max-width: 540px) {
    .navItems {
      font-size: 80%; } }
  @media only screen and (max-width: 484px) {
    .navItems {
      font-size: 90%; } }
  @media only screen and (max-width: 450px) {
    .navItems {
      display: none; } }
  .navItems li {
    font-family: var(--font-family--main);
    display: inline-block;
    font-size: 1.8em;
    padding: 0.5em 1.5em 0.3em 0;
    margin: 0;
    list-style-type: none; }
    @media only screen and (max-width: 484px) {
      .navItems li {
        display: block; } }




/* for homepage only */
.navItemsOnHome {
  padding-bottom: 17rem;
}

@media only screen and (max-width: 450px) {
  .navItems {
    display: block; }
  .navItems li {
    display: block; } }
